<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
</head>
<body>
    <h1>Hola, {{name}}</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac aliquam dolor, vel varius ligula. In nec consequat lacus. Mauris at iaculis purus. Aenean congue condimentum mauris in sagittis. Integer lacinia metus eu varius facilisis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer a imperdiet dolor, at volutpat purus. Sed facilisis eget dui sed sodales. Morbi fermentum ipsum quis lobortis accumsan. Proin vulputate volutpat nisl a auctor. Ut neque lacus, semper non ornare volutpat, volutpat sed tellus. Donec viverra dignissim varius. Praesent eu suscipit sapien, id consequat ex.
        <br>
        Integer sit amet rutrum orci. Donec eget facilisis sem, ac malesuada diam. Nulla ac feugiat ante, a volutpat leo. Vivamus rhoncus id dolor in ultricies. Curabitur feugiat eleifend diam a consequat. Maecenas rhoncus vehicula metus condimentum dapibus. Morbi faucibus imperdiet auctor. Aenean aliquam, ante eu accumsan suscipit, eros augue venenatis mauris, vitae venenatis turpis sapien quis metus. In hac habitasse platea dictumst. Curabitur maximus convallis aliquam. Integer purus lectus, commodo non sapien et, mattis posuere nisi. Mauris volutpat ligula erat, et tempor urna tincidunt vel. 
    </p>
    <form action="">
        <input type="text" id="texto" name="texto" placeholder="pon tu nombre">
        <input type="submit" id="boton" value="enviar">
    </form>
</body>
</html>